# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
*
# You can whitelist files/folders with !, these will not be ignored.

# Folders
!docs
!www
!packages

# Files

!docs/dashboards.md

# !packages/alerts_and_notifications.yaml
!packages/domain_counter.yaml
!packages/doods_image_processing.yaml
!packages/imap_content.yaml
!packages/mediarr.yaml
!packages/naver_map_url.yaml
!packages/subway_tracker.yaml
!packages/weather_teukbo.yaml

!www/floorplan.jpg
!www/lovelace.jpg

!automations.yaml
!configuration.yaml
!LICENSE
!README.md
!scenes.yaml
!scripts.yaml
!ui-lovelace.yaml